<script type="text/template" id="view-client-template">
  <div class="modal-content">
    <div class="modal-header">
      <span class="modal-title">CLIENT DETAILS</span>
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img src="<%= asset_path("cross.png")%>"/></button>
    </div>
    <div class="modal-body">
      <div class="col-sm-8 col-sm-offset-2" style="padding-bottom:20px;">

        <h4>[%= first_name %] [%= last_name %]</h4>
        <br/>
        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
        <a href="tel:[%= phone %]">[%= phone %]</a>
        [% if(email){ %]
        <br/>
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        <a href="mailto:[%= email %]">[%= email %]</a>
        [% } %]

      </div>
      <div class="clearfix"></div>
    </div>
    <div class="modal-footer">
      <div class="row">
        <div class="col-xs-12 col-sm-6 text-left">
          <button type="button" class="btn btn-default col-xs-12 col-sm-4" data-dismiss="modal" aria-hidden="true">CLOSE</button>
        </div>
        <div class="col-xs-12 col-sm-6 text-right">
          <button type="button" class="btn btn-primary col-xs-12 col-sm-4 pull-right" id="btn-edit-client" data-id="[%= id %]">EDIT</button>
        </div>
      </div>
    </div>
  </div>
</script>