<script type="text/template" id="new-home-template">
  <div class="modal-content">
    <div class="modal-header">
      <div class="row">
        <div class="col-xs-6">
          <span class="modal-title">ADD NEW PROJECT</span>
        </div>
        <div class="col-xs-6 text-right">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img src="<%= asset_path("cross.png")%>"/></button>
        </div>
      </div>

    </div>
    <div class="modal-body">
      <div class="col-sm-8 col-sm-push-2">
        <form role="form" class="form form-horizontal" id="form-new-home">

          <!-- Clients list-->
          <div class="form-group">
            <div class="col-xs-12">
              <select class="form-control" name="client_id" id="client_id">
                [% _.each(items, function(client) { %]
                <option value="[%=client.id%]">[%= client.first_name + ' ' + client.last_name %]</option>
                [%});%]
              </select>
            </div>
          </div>
          <!--Project name-->
          <div class="form-group">
            <div class="col-xs-12">
              <input type="text" class="form-control" id="name" name="name" placeholder="Project Name" value="">
            </div>
          </div>

          <!--Feedback-->
          <div class="form-group" id="new-home-progress" style="display:none;">
            <div class="col-xs-12 text-center">
              <img src="<%= asset_url('spinner.gif') %>" border="0" class="progress-spinner"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12 text-left">
              <div class="alert" id="new-home-feedback"></div>
            </div>
          </div>

          <!-- Buttons-->
          <div class="form-group">
            <div class="col-xs-12">
              <button type="submit" class="btn btn-primary col-xs-12 col-sm-5" id="btn_clients_save_home">SAVE PROJECT
                <button type="button" class="btn btn-default col-xs-12 col-sm-4 pull-right" data-dismiss="modal" aria-hidden="true">CANCEL</button>
            </div>
          </div>
        </form>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</script>