# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

default: &default
  exception_recipients:
   - 'adrian@housepadapp.com'

  braintree_environment: :sandbox
  braintree_merchant_id: "pskb6r7vw7g7hscn"
  braintree_public_key: "cd9vn3d3m6ts8gr6"
  braintree_private_key: "df539e31c5f7ff3a0acfff9f2b3057a7"

development:
  <<: *default
  secret_key_base: ad8abd9ee8096394ab5ed370c9b0f0e6c440632c41d8f2d275f572c31463dfbc9bdeae9acc21b59f0f84a2223dcf8fb93bd324b5272eaac91ba45a855918d6b9
  housepad_api_host: 'http://dev.housepadapp.com'
  aws_access_key_id:
  aws_secret_access_key:
  s3_domain:
  s3_bucket:
  nest_client_id:
  nest_client_secret:
  nest_access_token:
  nest_thermostat_id:

test:
  <<: *default
  secret_key_base: c626d4c338028f22e8cd3897c16ae3c8276fb004d84cc87c9f8c3aa872d9cf305c7439f7000f0f0c37133957357921583164d52a23d63c52b7815da6712f8695

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  <<: *default
  secret_key_base:
  aws_access_key_id:
  aws_secret_access_key:
  s3_domain:
  s3_bucket:
  nest_client_id:
  nest_client_secret:
  nest_access_token:
  nest_thermostat_id:

  braintree_environment:
  braintree_merchant_id:
  braintree_public_key:
  braintree_private_key: